<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1 class="ion-text-center">Registro</h1>
    <form>
      <label for="name">Nome</label>
      <input type="email" name="email" placeholder="Informe seu nome" />

      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Informe seu email" />

      <label for="password">Senha</label>
      <input type="password" name="password" placeholder="Digite sua senha" />

      <button type="submit" class="button">Cadastrar</button>
    </form>
  </div>
</ion-content>